# Build results
bin/
obj/
*.exe
*.dll
*.pdb
*.cache
*.log
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
.vscode/
.vs/
*.dbmdl
*.sql
*.db
firebase-service-account.json
Vjezba.Web.obj.*
Vjezba.DAL.obj.*
Vjezba.Model.obj.*